<div class="card">
  <div class="card-body">
    <div class="row search-row">
      <div class="col-md-2">
        <input type="text" [(ngModel)]="filterBy" />
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary search-btn" (click)="getCourses()">
          Search
        </button>
      </div>
    </div>
    <div class="table-responsive">
      <table
        class="table table-striped"
        aria-labelledby="tableLabel"
        *ngIf="courses"
      >
        <thead>
          <tr>
            <th>Title</th>
            <th>Skill Level</th>
            <th>Rating</th>
            <th>Path</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of courses">
            <td>
              <a [routerLink]="['/course-details', course.id]">
                {{ course.name }}
              </a>
            </td>
            <td>{{ getEnumValue(course.level) }}</td>
            <td>{{ course.rating }}</td>
            <td>{{ course.category }}</td>
            <td>
              <a
                [routerLink]="['/course-edit', course.id]"
                class="btn btn-primary"
              >
                Edit
              </a>
            </td>
            <td>
              <a
                [routerLink]="['/course-delete', course.id]"
                class="btn btn-primary"
              >
                Delete
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
